{% extends 'staff/main.html' %}
{% load static %}
{% load humanize %}

{% block custom-meta %}
<title>Enchanteur - Dashboard</title>
{% endblock custom-meta %}

<!-- Header -->
{% block encabezado %}
<h1 class="text-center title-dark">
    Bienvenido a la página de administración
</h1>
<h1 class="text-center">{{ user.username }}</h1>
{% endblock encabezado %}

{% block content %}
<!-- content -->
<div class="container">
    <div class="row">
        <!-- Productos -->
        <div class="col-12">
            <div class="box-element">
                <h1 class="text-light">Lista de Productos</h1>
                <div class="table-container mb-3">
                    <table class="table table-bordered m-0">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Imagen</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td>{{product.name}}</td>
                                <td>{{product.description}}</td>
                                <td>${{product.price|intcomma}}</td>
                                <td><img src="{{product.image.url}}" alt="{{ producto.nombre }}" height="50">
                                </td>
                                <td>
                                    <a class="" href="{% url 'editProduct' pk=product.pk %}">Editar</a>
                                    <a class="" href="{% url 'deleteProduct' pk=product.pk %}">Eliminar</a>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a class="btn btn-success btn-block" href="{% url 'addProduct' %}">Agregar producto</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- JS de Bootstrap -->
{% block customScripts %}
{% endblock customScripts %}
</body>

</html>