{% extends 'home/main.html' %}
{% load static %}

{% block custom-meta %}
<!-- Title -->
<title>Enchanteur - Acerca de nosotros</title>
<link rel="stylesheet" href="{% static 'assets/css/pages/about-us/about-us.css' %}" />
{% endblock custom-meta%}

{% block content %}
<!-- Banner -->
<div class="container-fluid">
    <!-- Title -->
    <div class="row title-bg-about-us align-items-center">
        <h1 class="text-center title-light col">
            Acerca de nosotros
        </h1>
    </div>
</div>
<!-- Background -->
<div class="bg-products py-5">
    <!-- Content -->
    <section id="about-us" class="container">
        <div class="row justify-content-around">
            <div class="mision col-5">
                <h4>Misión</h4>
                <p class="text-center">En Enchanteur, nuestra misión es despertar la chispa de la magia en cada persona, brindando productos de alta calidad y conocimientos excepcionales para que los magos de todos los niveles puedan explorar, aprender y sorprender con sus habilidades mágicas. Nos esforzamos por ser el destino número uno para todos los entusiastas de la magia, ofreciendo una amplia selección de mazos de cartas de colección y trucos de magia de primera categoría.</p>
            </div>
            <div class="image-vision col-5">
                <img src="{% static 'assets/images/about-us/tuto-1.jpg' %}" alt="Vision" class="img-fluid">
            </div>
            <div class="content-2 col-5">
                <p class="text-center">Nuestro compromiso con la excelencia se refleja en cada aspecto de nuestra tienda. Trabajamos en estrecha colaboración con los principales fabricantes y diseñadores de mazos de cartas para asegurarnos de ofrecerte productos de calidad premium. Nuestra colección está cuidadosamente curada para satisfacer incluso a los magos más exigentes.</p>
                <p class="text-center">Pero Enchanteur no es solo una tienda, es una comunidad mágica. Nos enorgullece ofrecer un ambiente acogedor donde los magos pueden conectarse, aprender y compartir sus conocimientos. Organizamos eventos especiales, talleres y sesiones de práctica para que puedas perfeccionar tus habilidades y descubrir nuevos trucos impresionantes.</p>
            </div>
            
        </div>        
    </section>
</div>
{% endblock content%}

{% block custom-js %}
{% endblock custom-js%}