.title-bg-about-us {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url("../../../img/about-us-img.jpg") no-repeat center center/cover;
/*   margin-bottom: 3rem; */
  min-height: 50vh;
}

.content-about-us {
  min-height: 30vh;
  margin-bottom: 2rem;
}

.image-mision {
  background: url("../../../img/tuto-2.jpg") no-repeat center center/cover;
  min-height: 30vh;
}

.image-vision {
  background: url("../../../img/tuto-1.jpg") no-repeat center center/cover;
  min-height: 30vh;
}
