* {
  /* Colors */
  --bg-color-primary: #231f20;
  --bg-color-secondary: #d7dedc;
  --bg-color-tertiary: #1a1818;

  --text-color-primary: #d7dedc;
  --text-color-secondary: #231f20;
  --text-color-tertiary: #ad6a6c;
  --text-color-accent: #f2f2f2;

  /* Font family */
  font-family: "roboto", sans-serif;
}

body {
  background-color: var(--bg-color-primary);
}

