/* about us */
.about-us{
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.img-about-us{
    padding-bottom: 30px;
    padding-top: 10px;
}

.p-about-us{
    padding-left: 3rem;
    padding-right: 3rem;
}

.btn-saber-mas{
    width: 300px;
}

  /* placeholder de contactanos */
#email-suscribe{
    width: 300px;
    text-align: center;
    margin-left: 1rem;
    padding: 10px;
}

.btn-suscribe{
    margin-left: 10px;
    background-color: #d7dedc;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 1rem;
}

.contactanos{
    padding-bottom: 3rem;
    padding-top: 2rem;  
}

.contactanos-fondo{
    background-image: url(../img/tuto-2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

  /* footer */
.Enchanteur-img-footer{
    margin: 2rem;
    border: 2rem;
    padding: 2rem;
    content: 2rem;
}

footer{
    background-color: #231f20;
}

.derechos-reservados{
    opacity: 0.5;
    font-size: small;
}

.iconos-footer{
    font-size: 2rem;
    background-color: #d7dedc;
}

address{
    opacity: 0.5;
}