.about-us {
  background-color: var(--bg-color-secondary);
  margin-bottom: 5rem;
  padding-bottom: 2rem;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.img-about-us {
  width: 100%;
  min-height: 35vh;
  background: url("../img/about-us-img.jpg") no-repeat center center/cover;
}

.about-us-content p {
  max-width: 600px;
}

.btn-saber-mas {
  width: 70%;
  height: 3rem;
  font-size: 1.2rem;
  background-color: var(--bg-color-primary);
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 400px;
}

@media screen and (min-width: 768px) {
  .about-us-content {
    gap: 2rem;
  }

  .img-about-us {
    min-height: 50vh;
  }
}

@media screen and (min-width: 1024px) {
  .about-us {
    min-height: 900px;
  }

  .img-about-us {
    min-height: 40vh;
    max-width: 85%;
  }

  .about-us-content p {
    max-width: 500px;
  }

  .btn-saber-mas {
    width: 50%;
    height: 3rem;
    font-size: 1.2rem;
    background-color: var(--bg-color-primary);
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 400px;
  }
}
