* {
    /* Colors */
    --bg-color-primary: #231F20;
    --bg-color-secondary: #D7DEDC;
    --bg-color-tertiary: #1a1818;
    
    --text-color-primary: #D7DEDC;
    --text-color-secondary: #231F20;
    --text-color-tertiary: #AD6A6C;
    --text-color-accent: #F2F2F2;

    /* Font family */
    font-family: 'roboto', sans-serif;
}

body{
    background-color: var(--bg-color-primary);
}

.nav-link:hover{
    color: var(--text-color-primary);
    text-decoration: underline;
}