 /* footer */
 .Enchanteur-img-footer{
    margin: 2rem;
    border: 2rem;
    padding: 1rem;
    content: 2rem;
}

footer{
    background-color: var(--bg-color-primary);
}

.derechos-reservados{
    opacity: 0.5;
    font-size: small;
}

.iconos-footer{
    font-size: 2rem;
    background-color: #d7dedc;
}

address{
    opacity: 0.5;
}