header {
  font-size: 0.8rem;
  background-color: var(--bg-color-secondary);
}

.icon-header{
  color: var(--text-color-accent);
}

.header-contact a{
  color: var(--text-color-accent);
  text-decoration: none;
}