.hero {
    height: 80vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/hero-bg.jpg") no-repeat center center/cover;
    margin-bottom: 5rem;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-left: 2rem;
    padding-right: 5rem;
}

.hero-btn{
    padding: 0.8rem 2rem;
    background-color: transparent;
    border: 1px solid var(--text-color-primary);
    color: var(--text-color-primary);
    border-radius: 5px;
}