.bg-staff{
	width: 100%;
	background-color: var(--bg-color-secondary);
}

.table-container {
  height: 400px;
  overflow: auto;
  background-color: var(--bg-color-secondary);
}

.table-container table {
  border: 1px solid #000;
}

#description-error {
  color: red;
}
