{% extends 'store/manageView.html' %}
{% load static %}

{% block meta %}
{% endblock %}

{% block encabezado %}
<h1 class="text-center title-dark">
    Editar productos
</h1>
{% endblock encabezado %}

{% block content %}
<div class="bg-products py-5">
    <div class="container content-container col-6">
        <div class="container">
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            <div id="message-container"></div>
            <form method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="nombre">Nombre del producto:</label>
                    {{ form.name }}
                </div>

                <div class="form-group mb-3">
                    <label for="descripcion">Descripción:</label>
                    {{ form.description }}
                    <span id="description-error" class="error-message"></span>
                </div>

                <div class="form-group mb-3">
                    <label for="precio">Precio:</label>
                    {{ form.price }}
                </div>

                <div class="form-group mb-3">
                    <label for="imagen">Subir imagen:</label>
                    {{ form.image }}
                </div>

                <button type="submit" class="btn btn-dark my-2 lead-light">Guardar cambios</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}