{% extends 'home/main.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="bg-products py-5">
    <!-- Title -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center title-dark">
                    Productos
                </h1>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="container-fluid content-container py-lg-5 px-3">
        <div class="row products-shelf ">
            {% for product in products %}
            <div class="col-lg-4 col-md-6 col-12 pb-3">
                <div class="product-card">
                    <img class="thumbnail" src="{{product.image.url}}">
                    <div class="box-element product">
                        <h6 class="lead-light"><strong>{{product.name}}</strong></h6>
                        <p class="description">{{product.description}}
                        </p>
                        <div class="d-flex justify-content-between">
                            <div class="buttons d-flex gap-2">
                                <button class="box-text btn btn-outline-secondary add-btn update-cart"
                                    data-product="{{product.id}}" data-action="add">Agregar al carro</button>
                                <a class="box-text btn btn-outline-success" href="#">Ver</a>
                            </div>
                            <h4 class="price lead-light d-flex align-items-center"><strong>${{product.price|intcomma}}</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}