.card {
    border-radius: 0px;
    border: none;
    box-shadow: 0px 4px 4px rgba(206, 134, 134, 0.25);
}

.card img {
    border-radius: 0px;
    max-width: 447px;
}

.card-img-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 0 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    border-radius: 0px;
    text-align: initial;
}

.card-img-overlay:hover{
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
}

.card .card-img-overlay .card-title, .card-text{
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color-primary);
}

.precio {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color-primary);
}

.precio-tachado{
    text-decoration: line-through;
    color: var(--text-color-primary);
    font-weight: 200;
    font-size: 1rem;
    margin-bottom: 0;
}